baidu-aip==2.2.11.0
certifi==2018.11.29
chardet==3.0.4
idna==2.8
lxml==4.2.5
numpy==1.15.4
opencv-python==3.4.5.20
Pillow==5.4.0
Pillow-PIL==0.1.dev0
prettytable==0.7.2
requests==2.21.0
urllib3==1.24.1
yagmail==0.11.214
